<div class="container">
  <h1>Create task</h1>
</div>

<hr>

<div class="container">
  <app-note [note]=createdNote></app-note>
</div>

<div class="container" style="padding-top: 1rem;">
    <label for="title">Task title:</label>
    <input [(ngModel)]="createdNote.title" type="title" class="form-control" id="title">
    <label for="desc">Task description:</label>
    <input [(ngModel)]="createdNote.description" type="desc" class="form-control" id="desc">
    <label for="user">Name:</label>
    <input [(ngModel)]="createdNote.user" type="user" class="form-control" id="user">
    <div class="buttonWrapper" style="padding-top: 1rem;">
      <button type="submit" class="btn btn-primary">Create task</button>
      <button type="submit" class="btn btn-warning" routerLink="/incomplete-notes">Cancel</button>
    </div>
</div>