<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="/">Bailey's tasks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="incomplete-notes">Incomplete tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink = "create-note">Create task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="complete-notes">Completed tasks</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<router-outlet> </router-outlet>