<div class="container heading">
  <h1>Homepage</h1>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Bailey's Tasks App!</h1>
    <p class="lead">This is a simple application to help test some of my Angular concepts. Why not try to do the all-time classic notes app?</p>
    <hr class="my-4">
    <p>Click the button below to go to your notes, or use the navigation bar above to perform other functions</p>
    <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="incomplete-notes">Incomplete Tasks</a>
  </div>
</div>